@media screen {
    /* --- Reset Styles --- */
  
    html, body {
      height: 100%;
      width: 100%;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }

    /* --- Layout Styles --- */
    header {
      background: whitesmoke;
      /*margin: 0px auto 0px auto;
      max-width: 960px;*/
      padding: 1% 2%;
      display: flex;
      flex-direction: column;
      height: 150px;
      color:  rgb(233, 176, 196);

    }

    .header-text {
      text-align: left;
      margin: 0px 0px 0px 10px;
      }

    .ul-navbar {
      padding: 10px 0px;
      /*width: 1024px;*/
      background: rgb(233, 176, 196);
      margin: auto auto 0px auto;
      text-align: center;
    }

    .navbar {
      padding: 0px 40px 0px 0px;
      color: whitesmoke;
      display: inline;
    }

    body {
      background-color:mistyrose;
      color: #333;
      font-family: Sans-Serif;
      line-height: 18px;
      margin: 0;
    }

    .wrapper {
      background: rgb(250, 255, 255);
      border-radius: 20px;
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      margin: 30px auto;
      max-width: 960px;
      padding: 1.5% 2.25%; /* 18px / 800px */
      width: 80%;
      color: rgb(101, 101, 101);
      
    }

    /* --- Book Show Pages --- */

    .cover-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
      border: 1px solid rgb(152, 143, 149);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .summary {
      margin: 10px 0px 20px 0px;
      padding: 0px 0px 0px 0px;
    }

    .icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 40px;
    }


    /* --- Text Styles --- */
  
    h1 {
      font-size: 36px;
      line-height: 54px;
      margin: 0;
    }
  
    h2 {
      border-bottom: 2px solid #ccc;
      font-size: 24px;
      line-height: 36px;
      margin-top: 0px;
      margin-bottom: 16px;
    }

    h3 {
      margin-bottom: 2%;
    }
  
    .tag-list {
      font-weight: bold;
      margin: 0px
    }

    .link {
      font-weight: bold;
      color: rgb(85, 0, 47);
    }

    .tags {
      color: rgb(85, 0, 47);
      list-style-type: none;
      margin: 0px
    }

    textarea {
      margin-top: 10px;
    }

    .try-again {
      color: rgb(192, 0, 106);
      margin: 30px 0px 30px 0px;
    }

    /* --- Text Block Styling --- */

    .review {
      margin: 0px 0px 20px 0px;
    }
  
    .book-review {
      display: block;
      margin: 1% auto 1% auto;
      max-width: 60%;
      padding: 1%;
      border: 2px solid #ccc;
      border-radius: 20px;
    }

    .upload-container {
      display: flex;
      width: 100%;
      height: 252px;
    }

    .upload-container-unfixed {
      display: flex;
      width: 100%;
    }

    .upload {
      flex: 1;
      margin: .5%;
      width: 50%;
      padding: 1% 1% 1% 2%;
      border: 2px solid #ccc;
      border-radius: 20px;
      list-style-type: none;
    }

    .upload-content {
      flex: 1;
      column-count: 2;
      margin: 2%;
      text-align: center;
    }
  
    .review-container {
      display: flex;
      width: 100%;
    }
  
    .review {
      flex: 1;
      margin: .5%;
      width: 50%;
      padding: 1% 1% 2% 1%;
      border: 2px solid #ccc;
      border-radius: 20px;
      list-style-type: none;
    }
  
    .table-container {
      display: table; 
      width: 100%;
    }
  
    .table {
      display: table
    }

    /* --- As Yet Uncategorized --- */

    .line {
      border-bottom: 2px solid #ccc;
    }

    input[type="submit"] {
      background-color: rgb(85, 0, 47);
      color: rgb(233, 176, 196);
      padding: 5px 10px;
      font-weight: bold;
      border-radius: 20px;
      border: #ccc
    }

    .checkboxes {
      margin-top: 8px;
    }

    .content {
      float: left;
      width: 60%; /* 480px / 800px */
    }
  
    .branding {
      clear: both;
    }
  
    footer.branding {
      border-top: 2px solid #ccc;
      margin-top: 20px;
      padding-top: 20px;
    }

    /* --- Star and Heart Ratings --- */

  .hide {
      display: none;
  }
  
  .clear {
      float: none;
      clear: both;
  }
  
  .rating-box {
    margin: 8px 0px 0px 30px;
  }
  
  .rating {
      width: 90px;
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
      position: relative;
  }
  
  .rating > label {
      float: right;
      display: inline;
      padding: 0;
      margin: 0;
      position: relative;
      width: 1.1em;
      cursor: pointer;
      color: #000;
  }
  
  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input.radio-btn:checked ~ label {
      color: transparent;
  }
  
  .rating > label:hover:before,
  .rating > label:hover ~ label:before,
  .rating > input.radio-btn:checked ~ label:before,
  .rating > input.radio-btn:checked ~ label:before {
      content: "\2605";
      position: absolute;
      left: 0px;
      color: #ff00cc;
  }
  .rating-heart {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating-heart > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating-heart > label:hover,
.rating-heart > label:hover ~ label,
.rating-heart > input.radio-btn:checked ~ label {
    color: transparent;
}
  .rating-heart > label:hover:before,
  .rating-heart > label:hover ~ label:before,
  .rating-heart > input.radio-btn:checked ~ label:before,
  .rating-heart > input.radio-btn:checked ~ label:before {
      content: "♥";
      position: absolute;
      left: 0px;
      color: #ff00cc;
  }
  }
  