<h2>Please log in!</h2>
<div class="try-again"><%= try_again(@try) %></div>
<form action="/login" method="post">
<label>Username: <label>
<input type="text" name="username"><br><br>
<label>Password: <label>
<input type="password" name="password"><br><br><br>
<input type="submit" value="Log In">
</form>