<% if Helpers.is_logged_in?(session) == true %>
    <h1><%="Welcome, #{User.find_by_id(session[:user_id])[:username]}!" %></h1>
    <br>
    <a href="/books">Books</a><br>
    <a href="/tags">Tags</a>
    <br><br>
    <a href="/logout">Log Out</a>
<% end %>