<h1>Sign up for an account!</h1>
<div class="line"></div>

<div class="try-again"><%= try_again(@message) %></div>

<form action="/signup" method="post">
<label>Username: <label>
<input type="text" name="username"><br><br>
<label>Password: <label>
<input type="password" name="password"><br><br>
<input type="submit" value="Create Account">
</form>
