<h1>All Books</h1>
<br>
<% @books.each do |book| #make this sort better plz :( :( :( sort_by{|b| b.title}%>
    <%= "<a href='books/#{book.id}'>#{book.title}</a> -- #{book.author}"%><br>
<% end %>

<br><br>
<a href="/books/new">Upload New Book</a>