<%if session[:user_id]%>
<h1>Add a book to the database!</h1>

<form action="/books" method="post">
<label>Title:</label>
    <input type="text" name="book[title]">
    <br><br>
<label>Author:</label>
    <input type="text" name="book[author]">
    <br><br>
<label>Summary:</label>
    <input type="textarea" name="book[summary]">
    <br><br>

<label>Tags:</label>
    <% @tags.each do |tag| %>
        <input type="checkbox" name="book[tag_ids][]" value=<%="#{tag.id}"%>><%= tag.name %><br>
    <% end %>
<br><br>

<label>Create new tag: </label>
<input type="text" name="tag[name]">

<br><br>

<input type="submit" value="Submit">

</form>

<%else%>
<%="Please log in to view this page."%>
<% end %>