<h1>Tags</h1>
<% if @try == "tag" %>
<div class="try-again"><%= try_again(@try) %></div>
<% else %>
<br>
<% end %>
<% @tags.sort_by{|t| t.name}.each do |tag| %>
    <%= "<a href='tags/#{tag.id}'>#{tag.name}</a>"%><br>
<% end %>
<br><br>
<a class="link" href="/tags/new">Create New Tag</a>