<%if session[:user_id]%>

<form action="/tags" method="post">
<label>Create new tag: <label>
<input type="text" name="tag[name]"><br><br>
<input type="hidden" name="tag[user_id]" value="<%=session[:user_id]%>">
<input type="submit" value="Submit">
</form>

<%#add functionality so that repeat tags cannot be created%>

<%else%>
<%="Please log in to view this page."%>
<% end %>