<h1><%= @tag.name %></h1>

<br><br>
<h3>Books</h3>
<ul>
    <% @books.each do |book| %>
    <% if book.tags.include?(@tag) %>
        <li><a href="/books/<%=book.id%>"><%=book.title%></a></li>
    <% end %>
    <% end %>
</ul>
<br><br>

<% if @tag.user_id == session[:user_id] || session[:user_id] == 1 %>
<a class="link" href="/tags/<%=@tag.id%>/edit">Edit Tag</a>
<% end %>