<!DOCTYPE html>
  <head>

    <title>long live yr gays</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rowdies:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <header>
  <h1 class="header">long live yr gays</h1>
  <h5>a taggable queer romance database</h5>
  
  </header>
  <body>
    <ul class="ul-navbar">
      <li class="navbar"><a href="/books">Books</a></li>
      <li class="navbar"><a href="/tags">Tags</a></li>
      <% if Helpers.is_logged_in?(session)%>
        <li class="navbar"><a href="/account">My Account</a></li>
        <li class="navbar"><a href="/logout">Log Out</a></li>
      <% end %>
      <% if !Helpers.is_logged_in?(session)%>
        <li class="navbar"><a href="/login">Log In</a></li>
        <li class="navbar"><a href="/signup">Sign Up</a></li> 
      <% end %>
    </ul>
    <div class="wrapper">
    

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>long live yr gays</strong></small>
      </footer>
    </div>
  </body>
</html>
