<!DOCTYPE html>
  <head>

    <title>Taggable Romance Database</title>

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <header>
  <h1 class="header-text"><a href='/account'>The Well-Read Faeries' Trashy Queer Bookclub</a></h1>
      <ul class="ul-navbar">
      <li class="navbar"><a href="/books">Books</a></li>
      <li class="navbar"><a href="/tags">Tags</a></li>
      <li class="navbar"><a href="/logout">Log Out</a></li>
      <li class="navbar"><a href="/login">Log In</a></li>
      <li class="navbar"><a href="/signup">Sign Up</a></li>
    </ul>
  </header>
  <body>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>Taggable Romance Database</strong></small>
      </footer>
    </div>
  </body>
</html>
